img{
	width: 200px;
	border-style: solid:
	border-width: 2px;
	border-color: black;
	border-radius: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.catInner{
	padding-bottom: 10px;
}

.catOuter{
	margin-top: 50px;
}



h2
{
	text-decoration: underline;
}

div[ng-app]
{
	margin: 20px 60px;
}


li a
{
	color:red !important;
	font-weight: bold !important;
}

#smallScreenNav
{
	display: none;
}

#smallScreenNav .dropend, #smallScreenNav .btn
{
	width: 200px !important;
}



@media only screen and (max-width: 500px){

#largeScreenNav
{
display: none;
}

#smallScreenNav
{
display: block;
}

}